.references {
  text-align: center;
  margin: 60px 0;  
}

.references-grid{
	display: flex;
	flex: 0 1 auto;
	align-content: flex-start;
	justify-content: flex-start;
	flex-grow: 1;
	flex-wrap: wrap;
}

.reference {
	display: flex;
	justify-content: center;
	padding: 33px 15px 0 15px;
	width: calc(100%/6);
}

.reference img { width: 100% }

@media only screen and (max-width: 992px) {
	.reference { width: calc(100%/4); }
}

@media only screen and (max-width: 375px) {
	.reference { width: calc(100%/2); }	
}
